@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Young+Serif&display=swap');

:root {
    --color-stone-100: #f3e6d8ff;
    --color-stone-150: #e4ded8ff;
    --color-stone-600: #5f574eff;
    --color-stone-900: #302d2cff;
    --color-brown-800: #854632ff;
    --color-rose-800: #7b284fff;
    --color-rose-50: #fff5faff;
}

body {
    background-color: var(--color-stone-100);
    font-family: 'Outfit', sans-serif;
    color: var(--color-stone-900);
}

hr {
    border: none;
    border-top: 1px solid var(--color-stone-150);
    height: 0;
    width: 100%;
    background: none;
}

.heading,
.ingredients h2,
.instructions h2,
.nutrition h2 {
    font-family: 'Young Serif', sans-serif;
}

.ingredients h2,
.instructions h2,
.nutrition h2 {
    color: var(--color-brown-800);
    letter-spacing: 1px;
    font-weight: 600;
}

.heading {
    color: var(--color-stone-900);
}

.recipe {
    background-color: white;
    width: 50vw;
    height: 100%;
    border: none;
    border-radius: 10px;
    margin-left: 300px;
    padding: 30px;
    margin-top: 190px;
    margin-bottom: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 2px;
}

.prep {
    background-color: var(--color-rose-50);
    height: 170px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.prep p b {
    color: var(--color-rose-800);
    font-size: 20px;
    margin-left: 25px;
}

.prep ul li {
    margin: 13px;
    margin-left: 30px;
}

.prep li::marker {
    color: var(--color-rose-800);
}

.ingredients ul li {
    padding: 8px;
}

.ingredients li::marker {
    color: var(--color-brown-800);
}

.instructions ol li {
    padding: 8px;
}

.instructions li::marker {
    color: var(--color-brown-800);
}

.nutrition .nutri_name {
    text-align: left;
    padding: 6px;
    font-weight: normal;
}

.nutrition .nutri_val {
    text-align: left;
    color: var(--color-brown-800);
}

.nutrition table:not(:last-child) {
    border-bottom: 1px solid var(--color-stone-150);
}

.trow-separator hr {
    width: 643px;
}